
body {
    background-color: #80d4ea;
}

#div_circle {
    float: left;
    left: 33%;
    top: 14%;
    position: absolute;
    margin: 40px 0 0 0;
    font: normal normal normal 2em/1.5em "alternate-gothic-no-2-d", "AlternateGothic2 BT", Helvetica, Arial, sans-serif;
    font-weight: none;
    letter-spacing: 0.05em;
    line-height: 0.6em;
    color: #222222;
    z-index: 3;
    cursor: move;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
}

.titles{
 font: normal normal normal 0.5em/0.5em "alternate-gothic-no-2-d", "AlternateGothic2 BT", Helvetica, Arial, sans-serif;
    font-weight: none;
    letter-spacing: 0.05em;
    line-height: 0.6em;
    color: #222222;
}